body{
background-color: greenyellow;
}
h1{
    background-color: cornsilk;
    color: rgb(38,0,255)
}
#show_sketch{
    float:right;
    margin-left: 5px;
}
#timer{
    float:right;
    margin-left: 5px;
}
p{
    color:black;
}